@page "/"

@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Lists
@using Syncfusion.Blazor.Buttons
@using EFListView.Shared.Models
@inject HttpClient Http

<div class="btn-cls">
    <SfButton @onclick="Add">Add</SfButton>
    <SfButton @onclick="Delete">Delete the selected item</SfButton>
</div>

<div class="row">
    <div class="col-md-4">
        <SfListView CssClass="listview" TValue="Products" Width="400px" Height="400px" @ref="List" @bind-DataSource="@datasource">
            <ListViewFieldSettings TValue="Products" Text="ProductName" Id="ProductID"></ListViewFieldSettings>
            <SfDataManager Url="api/Products" Adaptor="Adaptors.WebApiAdaptor" CrossDomain="true"></SfDataManager>
            <ListViewEvents TValue="Products" Clicked="OnClicked"></ListViewEvents>
        </SfListView>
    </div>
</div>

@code {
    private SfListView<Products> List;
    private List<Products> datasource;
    private List<Products> selectedItems = new List<Products>();
    private int carCounter = 1;

    private async Task Add()
    {
        var newProduct = new Products { ProductName = $"Zenvo Automotive {carCounter}" };
        var response = await Http.PostAsJsonAsync("api/Products", newProduct);
        if (response.IsSuccessStatusCode)
        {
            datasource = await response.Content.ReadFromJsonAsync<List<Products>>();
            carCounter++;
        }
    }

    private async Task Delete()
    {
        if (selectedItems.Count == 0)
        {
            return;
        }

        var productId = selectedItems[0].ProductID;
        var response = await Http.DeleteAsync($"api/Products/{productId}");
        if (response.IsSuccessStatusCode)
        {
            List.RemoveItems(selectedItems);
        }
    }

    private void OnClicked(ClickEventArgs<Products> args)
    {
        selectedItems.Clear();
        selectedItems.Add(args.ItemData);
    }
}

<style>
    .listview {
        border: 1px solid #dddddd;
    }

    .btn-cls {
        margin: 0px 5px 10px 5px;
    }
</style>
